name: ci
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - uses: actions/checkout@v2
        with:
          lfs: true
          submodules: true
      - run: |
          sudo apt-get install -f -y python3-cffi fonts-wqy-microhei
          python3 -m pip install -r requirements.txt
      - run: |
          python3 -m mkdocs build -d build
        env:
          CI: 1
          ENABLE_PDF_EXPORT: 1
      - uses: actions/upload-artifact@v2
        with:
          name: site
          path: build
          if-no-files-found: ignore
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_message: ${{ github.event.head_commit.message }}
          disable_nojekyll: true
          publish_branch: gh-pages
          force_orphan: true
          publish_dir: build
